<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket消息-列表</title>
    <link rel="stylesheet" href="../../../css/base.css"/>
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
	<script src="../../../js/utils.js"></script>
</head>
<body>
	<div id="app" v-cloak>
	    <div class="mainBox height100" style="padding-bottom: 0;">
	        <el-table :data="tableData.resultList" :height="tableHeight" style="width: 100%" @cell-click="cellClick" :cell-style="cellStyle">
	            <!--数据区域-->
	            <el-table-column prop="cPkId" label="主键" v-if="false"></el-table-column>
	            <el-table-column prop="cFromUserId" label="发送者用户id" width="200" v-if="false"></el-table-column>
	            <el-table-column prop="cToUserId" label="接受者用户id" width="200" v-if="false"></el-table-column>
	            <el-table-column prop="cType" label="消息类型（预留）" width="200" v-if="false"></el-table-column>
	            <el-table-column label="已读" width="70" prop="cReadMrk" >
	            	<template slot-scope="scope">
						<span v-for="item in options.cReadMrk" size="mini" :class="'column__'+item.css" round  v-if="scope.row.cReadMrk==item.code" class="badge" v-html="item.text"></span>
					</template>
	            </el-table-column>
	            <el-table-column prop="tSendTm" label="时间" width="200"></el-table-column>
	            <el-table-column prop="cText" label="消息"></el-table-column>
	            <el-table-column prop="cUrl" label="点击消息响应的url" width="200" v-if="false"></el-table-column>
	            <el-table-column prop="cExtraData" label="消息附带的其他参数" v-if="false"></el-table-column>
	            <el-table-column prop="tReadTm" label="消息阅读时间" width="200" v-if="false"></el-table-column>
	            <el-table-column
			      fixed="right"
			      label="操作"
			       v-if="false"
			      width="120">
			      <template slot-scope="scope">
			        <el-button @click="detail(scope.row)" type="text" size="small">查看/修改</el-button>
			        <el-button @click="del(scope.row)" type="text" size="small">删除</el-button>
			      </template>
			    </el-table-column>
	        </el-table>
	        <el-pagination :current-page="form._pageNum" :page-sizes="[10,20, 50, 100]" :page-size="form._pageSize"
	                       @current-change="handleCurrentChange"
	                       @size-change="handleSizeChange"
	                       layout="total, sizes, prev, pager, next, jumper" :total="tableData.total">
	        </el-pagination>
	    </div>
	</div>
</body>
</html>
<script>
    var vm=new Vue({
        el: '#app',
        data: function () {
            return {
                tableData: {
                	resultList:[]
                },
                //查询表单上的字段
                form: {
                	"cPkId" : "",
                	"cFromUserId" : "",
                	"cToUserId" : "",
                	"cType" : "",
                	"cReadMrk" : "",
                	"cText" : "",
                	"cUrl" : "",
                	"cExtraData" : "",
                	"tSendTm" : "",
                	"tReadTm" : "",
                    _count: true,// 是否进行统计
                    _pageNum: 1,// 当前页面
                    _pageSize: 20,// 当前页面数据条数
                    _total: 0,//总数
                },
                options:{
                	cReadMrk:[]
			    },
                tableHeight:0,//table的动态高度
            }
        },
        methods: {
			//查询
            query: function (showTips) {
            	//this.form._total = this.tableData.total;
            	var that = this;
            	utils.post("/api/sysWsMessage/list", this.form).then(function (res) {
                    if (res.code == '1') {// 如果成功请求且code为1
                    	that.tableData = res.data;
                        if(showTips){
                        	utils.successMsg(res.msg,that);
                        }
						//that.form._count = false;// 每次请求完至为false
                    } else {
                        utils.errorMsg(res.msg,that);
                    }
                }, function (res) {
                	utils.errorMsg("网络错误，请重试",that);
                });
            },
            //新增
            addNew:function(){
            	let that = this;
                utils.openPopWin('新增','sysWsMessageDetail.html',800,600,function(){
                });
            },
            //查看、修改
            detail:function(data){
            	let that = this;
                utils.openPopWin('详细','sysWsMessageDetail.html?id='+data.cPkId,800,600,function(){
                });
            },
            //删除
            del:function(data){
            	let that= this;
            	this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
		          confirmButtonText: '确定',
		          cancelButtonText: '取消',
		          type: 'warning'
		        }).then(() => {
		        	utils.post("/api/sysWsMessage/delete",{id:data['cPkId']}).then(function (res) {
	                    if (res.code == '1') {// 如果成功请求且code为1
	                        utils.successMsg("删除成功",that);
	                        that.query(false);
							//that.form._count = false;// 每次请求完至为false
	                    } else {
	                        utils.errorMsg(res.msg,that);
	                    }
	                }, function (res) {
	                	utils.errorMsg("网络错误，请重试",that);
	                });
		        }).catch(() => {
		        });
            },
            cellClick(row, column, cell, event){
            	if(column.property=='cReadMrk' && row.cReadMrk=='N'){
            		this.setRead(row.cPkId);
            	}else if(column.property=='cText' && row.cUrl!=''){
            		window.open(row.cUrl);
            		this.setRead(row.cPkId);
            	}
            },
            setRead(id){
            	let that = this;
            	utils.post("/api/sysWsMessage/read",{id:id}).then(function (res){
            		for(let i=0;i<that.tableData.resultList.length;i++){
            			if(id == that.tableData.resultList[i].cPkId){
            				that.tableData.resultList[i].cReadMrk ='Y';
            				break;
            			}
            		}
           		});
            },
            cellStyle({row, column, rowIndex, columnIndex}){
            	if(column.property=='cReadMrk' && row.cReadMrk=='N'){
            		return {'cursor':'pointer !important'};
            	}else if(column.property=='cText'){
            		return {'cursor':'pointer !important'};
            	}
            },
            getOptions(){
            	let that = this;
            	//TODO:item.option_key
            	var params ={
            		cReadMrk:'#WS_MESSAGE_READ',
          			
            		//cEnabled:'EFFECT',
            		//cCss:'COLUMN_CSS'
            	};
            	//是否存在值需要去后台
            	var hasKey=false;
			    for(var key in params){  
			    	hasKey=true;
			        break;
			    };  
			    if(!hasKey){
			    	return;
			    }
            	utils.post("/api/sysCommonCode/options",params).then(function (res) {
            		console.log(JSON.stringify(res));
                    if (res.code == '1') {// 如果成功请求且code为1
                        for(var key in params){
                        	that.options[key]=res.data[key];
                        }
                    } else {
                        utils.errorMsg(res.msg,that);
                    }
                }, function (res) {
                	utils.errorMsg("网络错误，请重试",that);
                });
            },
            // 当显示页面条数发生改变
            handleSizeChange: function (val) {
                this.form._pageSize = val;
                this.query(true);
            },
            // 当当前页面发生改变
            handleCurrentChange: function (val) {
                this.form._pageNum = val;
                this.query(true);
            },
            // 当搜索的条件发生改变
            changeCount:function(){
                this.form._count=true;// 将count为true，重新去统计
            }
        },
        mounted: function () {
        	var that = this;
        	that.form.cToUserId = utils.getParam("id");
            //动态设置table的高度
            let pagination = document.getElementsByClassName("el-pagination")[0].clientHeight;
            let mainHeight = document.getElementsByClassName("mainBox")[0].clientHeight
            this.$nextTick(function(){
				that.tableHeight = mainHeight-pagination-20;
			});
			this.getOptions();
            this.query(true);// 加载数据
        }
    });
</script>