<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统日志表-列表</title>
    <link rel="stylesheet" href="../../../css/base.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
</head>
<body>
	<div id="app" v-cloak>
	    <div class="mainBox height100" style="padding-bottom: 0;">
	        <div class="layoutUi">
	            <el-form :inline="true">
		          	<!-- <el-form-item label="方法名" prop="cName">
		            	<el-input v-model="form.cName" placeholder="方法名" clearable maxlength="200" show-word-limit ></el-input>
		           	</el-form-item>
		          	<el-form-item label="操作人" prop="cUserId">
		            	<el-input v-model="form.cUserId" placeholder="操作人" clearable maxlength="50" show-word-limit ></el-input>
		           	</el-form-item> -->
		          	<el-form-item label="" prop="cClientIp">
		            	<el-input v-model="form.cClientIp" placeholder="客户端ip" clearable maxlength="50" show-word-limit ></el-input>
		           	</el-form-item>
		          	<!-- <el-form-item label="" prop="cServerIp">
		            	<el-input v-model="form.cServerIp" placeholder="服务器ip" clearable maxlength="50" show-word-limit ></el-input>
		           	</el-form-item>
		          	<el-form-item label="" prop="cServerPort">
		            	<el-input v-model="form.cServerPort" placeholder="服务器端口" clearable maxlength="50" show-word-limit ></el-input>
		           	</el-form-item> -->
		          	<el-form-item label="" prop="tBegin">
		            	<el-date-picker v-model="form.tBegin" type="datetime" placeholder="请求开始时间" style="width:100%"></el-date-picker>
		           	</el-form-item>
		          	<el-form-item label="" prop="tEnd">
		            	<el-date-picker v-model="form.tEnd" type="datetime" placeholder="请求结束时间" style="width:100%"></el-date-picker>
		           	</el-form-item>
		          	<el-form-item label="" prop="nTook">
		            	<el-input v-model="form.nTook" placeholder="请求耗时" clearable  ></el-input>
		           	</el-form-item>
		          	<!-- <el-form-item label="请求方法" prop="cMethod">
		            	<el-input v-model="form.cMethod" placeholder="请求方法" clearable maxlength="200" show-word-limit ></el-input>
		           	</el-form-item> -->
		          	<el-form-item label="" prop="cClass">
		            	<el-input v-model="form.cClass" placeholder="请求类" clearable maxlength="200" show-word-limit ></el-input>
		           	</el-form-item>
		          	<!-- <el-form-item label="请求数据" prop="cRequest">
		            	<el-input v-model="form.cRequest" placeholder="请求数据" clearable maxlength="4,294,967,295" show-word-limit ></el-input>
		           	</el-form-item>
		          	<el-form-item label="返回数据" prop="cResponse">
		            	<el-input v-model="form.cResponse" placeholder="返回数据" clearable maxlength="4,294,967,295" show-word-limit ></el-input>
		           	</el-form-item> -->
		          	<el-form-item label="" prop="cUrl">
		            	<el-input v-model="form.cUrl" placeholder="请求url" clearable maxlength="200" show-word-limit ></el-input>
		           	</el-form-item>
		          	<el-form-item label="" prop="cSuccess">
		            	<el-radio-group v-model="form.cSuccess" >
		           			<el-radio v-for="item in options.cSuccess" :label="item.code">{{item.text}}</el-radio>
		           		</el-radio-group>
		           	</el-form-item>
	                <el-form-item>
	                    <el-button type="primary" @click="form._pageNum=1;query()">查询</el-button>
						<el-button type="primary" @click="addNew" plain>新增</el-button>
	                </el-form-item>
	            </el-form>
	        </div>
	        <el-table :data="tableData.resultList" :height="tableHeight" style="width: 100%">
	            <!--数据区域-->
	            <el-table-column prop="cPkId" label="主键" v-if="false"></el-table-column>
	            <el-table-column prop="cName" label="方法名" width="200"></el-table-column>
	            <el-table-column prop="cUserId" label="操作人" width="200"></el-table-column>
	           <!--  <el-table-column prop="cClientIp" label="客户端ip" width="200"></el-table-column>
	            <el-table-column prop="cServerIp" label="服务器ip" width="200"></el-table-column>
	            <el-table-column prop="cServerPort" label="服务器端口" width="200"></el-table-column> -->
	            <!-- <el-table-column prop="tBegin" label="请求开始时间" width="200"></el-table-column>
	            <el-table-column prop="tEnd" label="请求结束时间" width="200"></el-table-column> -->
	            <el-table-column prop="nTook" label="请求耗时" width="200"></el-table-column>
	            <el-table-column prop="cMethod" label="请求方法" width="200"></el-table-column>
	            <el-table-column prop="cClass" label="请求类" width="200"></el-table-column>
	            <!-- <el-table-column prop="cRequest" label="请求数据" width="200"></el-table-column>
	            <el-table-column prop="cResponse" label="返回数据" width="200"></el-table-column> -->
	            <el-table-column prop="cUrl" label="请求url" width="200"></el-table-column>
	            <el-table-column label="结果成功与否" width="200">
	            	<template slot-scope="scope">
						<span v-for="item in options.cSuccess" size="mini" :class="'column__'+item.css" round  v-if="scope.row.cSuccess==item.code" class="badge" v-html="item.text"></span>
					</template>
	            </el-table-column>
	            <el-table-column
			      fixed="right"
			      label="操作"
			      width="120">
			      <template slot-scope="scope">
			        <el-button @click="detail(scope.row)" type="text" size="small">查看/修改</el-button>
			        <el-button @click="del(scope.row)" type="text" size="small">删除</el-button>
			      </template>
			    </el-table-column>
	        </el-table>
	        <el-pagination :current-page="form._pageNum" :page-sizes="[10,20, 50, 100]" :page-size="form._pageSize"
	                       @current-change="handleCurrentChange"
	                       @size-change="handleSizeChange"
	                       layout="total, sizes, prev, pager, next, jumper" :total="tableData.total">
	        </el-pagination>
	    </div>
	</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="../../../js/utils.js"></script>
<script>
    var vm=new Vue({
        el: '#app',
        data: function () {
            return {
                tableData: {
                	resultList:[]
                },
                //查询表单上的字段
                form: {
                	"cPkId" : "",
                	"cName" : "",
                	"cUserId" : "",
                	"cClientIp" : "",
                	"cServerIp" : "",
                	"cServerPort" : "",
                	"tBegin" : "",
                	"tEnd" : "",
                	"nTook" : "",
                	"cMethod" : "",
                	"cClass" : "",
                	"cRequest" : "",
                	"cResponse" : "",
                	"cUrl" : "",
                	"cSuccess" : "",
                    _count: true,// 是否进行统计
                    _pageNum: 1,// 当前页面
                    _pageSize: 10,// 当前页面数据条数
                    _total: 0,//总数
                },
                options:{
          			cSuccess:[],
			    },
                tableHeight:0,//table的动态高度
            }
        },
        methods: {
			//查询
            query: function (showTips) {
            	//this.form._total = this.tableData.total;
            	var that = this;
            	utils.post("/api/sysLog/list", this.form).then(function (res) {
                    if (res.code == '1') {// 如果成功请求且code为1
                    	that.tableData = res.data;
                        if(showTips){
                        	utils.successMsg(res.msg,that);
                        }
						//that.form._count = false;// 每次请求完至为false
                    } else {
                        utils.errorMsg(res.msg,that);
                    }
                }, function (res) {
                	utils.errorMsg("网络错误，请重试",that);
                });
            },
            //新增
            addNew:function(){
            	let that = this;
                utils.openPopWin('新增','sysLogDetail.html',800,600,function(){
                });
            },
            //查看、修改
            detail:function(data){
            	let that = this;
                utils.openPopWin('详细','sysLogDetail.html?id='+data.cPkId,800,600,function(){
                });
            },
            //删除
            del:function(data){
            	let that= this;
            	this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
		          confirmButtonText: '确定',
		          cancelButtonText: '取消',
		          type: 'warning'
		        }).then(() => {
		        	utils.post("/api/sysLog/delete",{id:data['cPkId']}).then(function (res) {
	                    if (res.code == '1') {// 如果成功请求且code为1
	                        utils.successMsg("删除成功",that);
	                        that.query(false);
							//that.form._count = false;// 每次请求完至为false
	                    } else {
	                        utils.errorMsg(res.msg,that);
	                    }
	                }, function (res) {
	                	utils.errorMsg("网络错误，请重试",that);
	                });
		        }).catch(() => {
		        });
            },
            getOptions(){
            	let that = this;
            	//TODO:item.option_key
            	var params ={
            	
          			cSuccess:'#TRUE_FALSE',
          			
            		//cEnabled:'EFFECT',
            		//cCss:'COLUMN_CSS'
            	};
            	//是否存在值需要去后台
            	var hasKey=false;
			    for(var key in params){  
			    	hasKey=true;
			        break;
			    };  
			    if(!hasKey){
			    	return;
			    }
            	utils.post("/api/sysCommonCode/options",params).then(function (res) {
            		console.log(JSON.stringify(res))
                    if (res.code == '1') {// 如果成功请求且code为1
                        for(var key in params){
                        	that.options[key]=res.data[key];
                        }
                    } else {
                        utils.errorMsg(res.msg,that);
                    }
                }, function (res) {
                	utils.errorMsg("网络错误，请重试",that);
                });
            },
            // 当显示页面条数发生改变
            handleSizeChange: function (val) {
                this.form._pageSize = val;
                this.query(true);
            },
            // 当当前页面发生改变
            handleCurrentChange: function (val) {
                this.form._pageNum = val;
                this.query(true);
            },
            // 当搜索的条件发生改变
            changeCount:function(){
                this.form._count=true;// 将count为true，重新去统计
            }
        },
        mounted: function () {
        	var that = this;
            //动态设置table的高度
            let layoutUiHeight = document.getElementsByClassName("layoutUi")[0].clientHeight;
            let pagination = document.getElementsByClassName("el-pagination")[0].clientHeight;
            let mainHeight = document.getElementsByClassName("mainBox")[0].clientHeight
            this.$nextTick(function(){
				that.tableHeight = mainHeight-layoutUiHeight-pagination-20;
			});
			this.getOptions();
            this.query(true);// 加载数据
        }
    });
</script>