<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>权限表-详细</title>
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/iconfont.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
	</head>

	<body>
		<div id="app" v-cloak>
			<el-form ref="form" :model="form" :rules="rules" label-width="80px" style="padding:10px">
	          	<el-form-item label="权限名称" prop="cName">
	            	<el-input v-model="form.cName" placeholder="权限名称" clearable maxlength="50" show-word-limit ></el-input>
	           	</el-form-item>
	          	<el-form-item label="权限英文名称" prop="cEnname" v-if="false">
	            	<el-input v-model="form.cEnname" placeholder="权限英文名称" clearable maxlength="50" show-word-limit ></el-input>
	           	</el-form-item>
	          	<el-form-item label="授权路径" prop="cUrl">
	            	<el-input v-model="form.cUrl" placeholder="授权路径" clearable maxlength="200" show-word-limit ></el-input>
	           	</el-form-item>
	          	<el-form-item label="方法名" prop="cMethod">
	            	<el-input v-model="form.cMethod" placeholder="方法名（get，post，delete等，多个使用英文逗号分隔）" clearable maxlength="50" show-word-limit ></el-input>
	           	</el-form-item>
	          	<el-form-item label="备注" prop="cDescription">
	            	<el-input v-model="form.cDescription" placeholder="备注" clearable maxlength="200" show-word-limit ></el-input>
	           	</el-form-item>
			  	<el-form-item>
			    	<el-button type="primary" @click="onSubmit">提交</el-button>
			    	<el-button @click="onCancel">取消</el-button>
			  	</el-form-item>
			</el-form>
		</div>
	</body>
	<script src="../../../js/utils.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: function() {
				return {
				    form:{
	                	"cPkId" : "",
	                	"cName" : "",
	                	"cEnname" : "*",
	                	"cUrl" : "",
	                	"cMethod" : "",
	                	"cDescription" : "",
	                	"tCrtTm" : "",
	                	"tUpdTm" : "",
	                	"cCrtId" : "",
	                	"cUpdId" : "",
				    },
				    rules:{
	          			cName:[
	          				{ required: true, message: '不能为空', trigger: 'change' },	
	          			],
	          			cEnname:[
	          				{ required: true, message: '不能为空', trigger: 'change' },	
	          			],
	          			cUrl:[
	          				{ required: true, message: '不能为空', trigger: 'change' },	
	          			],
	          			cMethod:[
	          				{ required: true, message: '不能为空', trigger: 'change' },	
	          			],
	          			cDescription:[
	          				{ required: true, message: '不能为空', trigger: 'change' },	
	          			],
				    },
				    options:{
				    },
				}
			},
			methods: {
				//保存用户信息
				"onSubmit" : function(){
					var that = this;
					this.$refs['form'].validate((valid) => {
			        	if (!valid) {
			            	return false;
			          	}
						utils.post("/api/sysPermission", this.form).then(function (res) {
	                        if (res.code == '1') {// 如果成功请求且code为1
	                        	utils.successMsg(res.msg,that);
	                        	setTimeout(function () {
	                                parent.vm.query(false);
	        						parent.utils.closePopWin();
	                            },1000);
	                        } else {
	                            utils.errorMsg(res.msg,that);
	                        }
	
	                    }, function (res) {
	                        utils.errorMsg(res.msg,that);
	                    });
                    });
				},
				onCancel(){
				  	parent.utils.closePopWin();
				},
				query(id){
					let that = this;
					utils.post("/api/sysPermission/detail",{id:id}).then(function (res) {
                        if (res.code == '1') {// 如果成功请求且code为1
                        	that.form=res.data;
                        	utils.successMsg(res.msg,that);
                        } else {
                            utils.errorMsg(res.msg,that);
                        }

                    }, function (res) {
                        utils.errorMsg(res.msg,that);
                    });
				},
				getOptions(){
	            	let that = this;
	            	//TODO:item.option_key
	            	var params ={
	            	
	          			
	            		//cEnabled:'EFFECT',
	            		//cCss:'COLUMN_CSS'
	            	};
	            	//是否存在值需要去后台
	            	var hasKey=false;
				    for(var key in params){  
				    	hasKey=true;
				        break;
				    };  
				    if(!hasKey){
				    	return;
				    }
	            	utils.post("/api/sysCommonCode/options",params).then(function (res) {
	            		console.log(JSON.stringify(res))
	                    if (res.code == '1') {// 如果成功请求且code为1
	                        for(var key in params){
	                        	that.options[key]=res.data[key];
	                        }
	                    } else {
	                        utils.errorMsg(res.msg,that);
	                    }
	                }, function (res) {
	                	utils.errorMsg("网络错误，请重试",that);
	                });
	            },
			},
			watch:{

			},
			mounted:function () {
				var that = this;
				this.getOptions();
                let id = utils.getParam("id");
				if(id!=""){
                	this.query(id);
				}
            }
		})
  </script>
</html>